{% extends 'myApp/base.html' %}

{% block title %}Garden Gate Property Management - Premium Property Management Services{% endblock %}

{% block content %}
{% include 'myApp/partials/header.html' %}
{% include 'myApp/partials/hero.html' %}
{% include 'myApp/partials/credibility.html' %}
{% include 'myApp/partials/testimonials.html' %}
{% include 'myApp/partials/statistics.html' %}
{% include 'myApp/partials/pain_points.html' %}
{% include 'myApp/partials/services.html' %}
{% include 'myApp/partials/methodology.html' %}
{% include 'myApp/partials/about.html' %}
{% include 'myApp/partials/mission_vision.html' %}
{% include 'myApp/partials/lead_magnet.html' %}
{% include 'myApp/partials/final_cta.html' %}
{% include 'myApp/partials/footer.html' %}
{% include 'myApp/partials/scripts.html' %}
{% endblock %}
